.color {
    color: white;
    font-size: 17px;
    transition: 1s;
    margin: 26px;
    
    
}


a {
    
    font-family: Arial, Helvetica, sans-serif;
    
}
header {
   
    border-bottom: 1px solid black;


}

/*Titulo*/
.titulo{
    h1 {
        font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
img {
    position: relative;
    left: 360px;
    height: 350px;
}

}
