.card-de-auto{
    display: flex;
    margin: 15px;
    text-align: center;
    position: relative;
    left: 230px;
    border-bottom: 1px solid black;
    
    
    
    
   
    margin-top: 50px;
    
    h3 {
        font-family: Arial, Helvetica, sans-serif;

    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;

    }
    a {
        
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
        
    }
    
}
.bmw-x3 {
    margin: 10px;
    
}

.bmw-x4 {
    margin: 10px;
    height: 500px;
    
}

.bmw-x6 {
    margin: 10px;
    
    
}